doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        link(rel="stylesheet", href="css/styles.css")

    body
        include components/mixins
        +basket()
        header
            
            +header-line()
            .marquee-lines
                .header-content
                    .wrapper
                        .hero
                        .d-flex.justify-content-center
                            a(href="#").button SHOP NOW 
                - for (let i = 0; i < 30; i++)
                    .marquee-line(style=`top: ${i * 70}px;`)
                        if (i % 2 === 0)
                            - for (let j = 0; j < 20; j++)
                                span Say no to default skins
                        else 
                            - for (let j = 0; j < 27; j++)
                                span Skin 
                                    b Zone            

        main
            .wrapper
                +advantages()
                .discounts 
                    h2.text-center.title.animate-bottom.hidden DISCOUNTS
                        span DISCOUNTS
                    .relative
                        .swiper.discounts-slider
                            .swiper-wrapper
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                .swiper-slide
                                    +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                                
                        .swiper-button-prev
                        .swiper-button-next
    
                .products 
                    h2.text-center.title.animate-bottom.hidden Random Skins + Full ACCESS
                        span Random Skins + Full ACCESS
                    .row.g-5.random
                        +product-card("img/random.png", "Guaranteed 500+ skins | Full Access", "$110")
                        +product-card("img/random.png", "Guaranteed 500+ skins | Full Access", "$110")
                        +product-card("img/random.png", "Guaranteed 500+ skins | Full Access", "$110")
                        +product-card("img/random.png", "Guaranteed 500+ skins | Full Access", "$110")
                        +product-card("img/random.png", "Guaranteed 500+ skins | Full Access", "$110")
                        +product-card("img/random.png", "Guaranteed 500+ skins | Full Access", "$110")
                        

                    h2.text-center.title.animate-bottom.hidden  Guaranted skins | Full Access
                        span  Guaranted skins | Full Access
                    form.search.d-flex.align-items-stretch
                        input(type="search" name="" placeholder="Find an item...")
                        button(type="submit").search-btn SEARCH
                    .row.g-5
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        +product-card("img/skinexample.png", "Guaranteed skin: Pink Lama | Full Access", "$110")
                        .d-flex.justify-content-center
                            button(type="submit").button MORE
                        

                +reviews()

            +join-block()
            .wrapper
                +faq()

                +help()
        +footer()


        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        script(src="js/scripts.js")    
