* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 200vh;
  font-family: "Anton SC", serif;
  background: #121212;
  overflow-x: hidden;
}

.wrapper {
  width: 83.3rem;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  display: inline-block;
}

header {
  margin-bottom: 3.5rem;
}

header .button {
  -webkit-box-shadow: 0 0 100px 50px #121212;
  box-shadow: 0 0 100px 50px #121212;
}

.marquee-lines {
  position: relative;
  height: 100vh;
  background-image: url(../img/header-background.webp);
  background-size: cover;
  overflow: hidden;
  margin-top: -15px;
}

.marquee-line {
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  font-size: 24px;
  white-space: nowrap;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
  z-index: 0;
}

.marquee-line span {
  display: inline-block;
  padding-right: 1.5rem;
}

.marquee-lines .marquee-line:nth-child(even) span {
  color: #FFF;
  font-size: 4.375rem;
  font-weight: 400;
  text-transform: uppercase;
}

.marquee-lines .marquee-line:nth-child(odd) span {
  color: #EA8BFF;
  font-size: 4.375rem;
  font-weight: 400;
  text-transform: uppercase;
}

.marquee-lines .marquee-line:nth-child(odd) span b {
  color: #18E0E3;
}

.header-content {
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  padding-top: 2.56rem;
}

.header-content .header-line {
  margin-bottom: 60vh;
}

.basket {
  display: none;
}

.circle-btn {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#EA8DFF), to(#18E0E3));
  background: -o-linear-gradient(left, #EA8DFF, #18E0E3);
  background: linear-gradient(to right, #EA8DFF, #18E0E3);
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1.56rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.circle-btn:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

.circle-btn img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain;
}

.header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-line nav {
  background: -webkit-gradient(linear, left top, right top, from(#EA8DFF), to(#18E0E3));
  background: -o-linear-gradient(left, #EA8DFF, #18E0E3);
  background: linear-gradient(to right, #EA8DFF, #18E0E3);
  padding: 1.56rem 3rem;
  border-radius: 50px;
}

.header-line nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-line nav ul a {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-line nav ul a:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.button {
  display: inline-block;
  border: none;
  border-radius: 2.7rem;
  background: -webkit-gradient(linear, left top, right top, from(#EA8BFF), to(#18E0E3));
  background: -o-linear-gradient(left, #EA8BFF 0%, #18E0E3 100%);
  background: linear-gradient(90deg, #EA8BFF 0%, #18E0E3 100%);
  padding: 1rem 7.5rem;
  color: #FFF;
  font-size: 2.25rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hero {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/banana.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -20px;
  left: 0;
  z-index: -1;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

.advantages {
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.advantage {
  width: 30%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) padding-box, -webkit-gradient(linear, left top, right top, from(#EA8BFF), to(#18E0E3)) border-box;
  background: -o-linear-gradient(#000, #000) padding-box, -o-linear-gradient(left, #EA8BFF, #18E0E3) border-box;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #EA8BFF, #18E0E3) border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 300px;
}

.advantage img {
  width: 2.9375rem;
}

.advantage h2 {
  color: #FFF;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0;
}

.advantage .d-flex {
  margin-bottom: 0.625rem;
}

.advantage p {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.animate-bottom.hidden {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.animate-bottom.show {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

h2.text-center.title {
  position: relative;
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  -webkit-text-stroke: 2px transparent;
  z-index: 2;
  margin-bottom: 4.375rem;
  padding-top: 8.75rem;
}

h2.text-center.title span {
  position: absolute;
  font-size: 4rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#EA8BFF), to(#18E0E3));
  background: -o-linear-gradient(left, #EA8BFF 0%, #18E0E3 100%);
  background: linear-gradient(90deg, #EA8BFF 0%, #18E0E3 100%);
  -webkit-background-clip: text;
  color: #121212;
  opacity: 0.5;
  width: 100%;
  left: 50%;
  top: -1rem;
  padding-top: 8.75rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.product-card img {
  display: inline-block;
  margin-bottom: 0.7rem;
  width: 100%;
}

.product-card h3 {
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.product-card p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, color-stop(44.9%, #EA8BFF), color-stop(56.27%, #18E0E3));
  background: -o-linear-gradient(left, #EA8BFF 44.9%, #18E0E3 56.27%);
  background: linear-gradient(90deg, #EA8BFF 44.9%, #18E0E3 56.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-bottom: 0.5rem;
}

.product-card button {
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #FFF;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 43.5px;
  background: -webkit-gradient(linear, left top, right top, from(#EA8BFF), to(#18E0E3));
  background: -o-linear-gradient(left, #EA8BFF 0%, #18E0E3 100%);
  background: linear-gradient(90deg, #EA8BFF 0%, #18E0E3 100%);
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-card button:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

.swiper-slide .product-card {
  width: 100%;
}