* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 200vh;
  font-family: "Anton SC", serif;
}

.marquee-lines {
  position: relative;
  height: 300px;
  background-color: #282c34;
  overflow: hidden;
}

.marquee-line {
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  font-size: 24px;
  white-space: nowrap;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
}

.marquee-line span {
  display: inline-block;
  padding-right: 50px;
}