* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  height: 200vh;
  font-family: "Anton SC", serif;
  background: #000;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.wrapper {
  max-width: 83.3rem;
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

header {
  margin-bottom: 7.5rem;
}

header .wrapper {
  height: 100%;
}

header .marquee-lines .button {
  -webkit-box-shadow: 0 0 100px 50px #000;
  box-shadow: 0 0 100px 50px #000;
}

.index-header .button {
  position: absolute;
  min-width: 280px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  z-index: 999;
}

.cart-header-content {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.burger-open {
  position: fixed;
  display: block;
  height: 100vh;
  width: 18.75rem;
  top: 0;
  right: -100%;
  background-color: #242424;
  z-index: 9999;
  padding-top: 5rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger-open ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.burger-open ul a {
  display: block;
  text-align: center;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#242424)) padding-box, -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(218, 80, 239, 0.3)), color-stop(80%, rgba(43, 146, 254, 0.3))) border-box;
  background: -o-linear-gradient(#242424, #242424) padding-box, -o-linear-gradient(left, rgba(218, 80, 239, 0.3) 20%, rgba(43, 146, 254, 0.3) 80%) border-box;
  background: linear-gradient(#242424, #242424) padding-box, linear-gradient(90deg, rgba(218, 80, 239, 0.3) 20%, rgba(43, 146, 254, 0.3) 80%) border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
}

.burger-open.active {
  right: 0;
}

.close-basket,
.close-burger {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.close-basket:hover,
.close-burger:hover {
  -webkit-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  transform: translateY(-50%) scale(1.2);
}

.close-basket::before,
.close-basket::after,
.close-burger::before,
.close-burger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}

.close-basket::before,
.close-burger::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-basket::after,
.close-burger::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-burger {
  top: 3rem;
}

.marquee-lines {
  position: relative;
  height: 90vh;
  background: -o-linear-gradient(268deg, rgba(0, 0, 0, 0) 30.46%, #000 98.22%), url(../img/header-background.jpg);
  background: linear-gradient(182deg, rgba(0, 0, 0, 0) 30.46%, #000 98.22%), url(../img/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: -15px;
}

main {
  margin-bottom: 5.625rem;
}

main .marquee-lines {
  max-height: 36.2rem;
  background-image: url(../img/mainbg.webp);
}

.marquee-line {
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  font-size: 24px;
  white-space: nowrap;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
  z-index: 0;
}

.marquee-line span {
  display: inline-block;
  padding-right: 1.5rem;
}

.marquee-lines .marquee-line:nth-child(even) span {
  color: #FFF;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
}

.marquee-lines .marquee-line:nth-child(odd) span {
  color: #EA8BFF;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
}

.marquee-lines .marquee-line:nth-child(odd) span b {
  color: #18E0E3;
}

.header-content {
  position: relative;
  z-index: 3;
  height: 100%;
  padding-top: 2.56rem;
}

header .header-content {
  padding-top: 75vh;
}

main .header-content {
  padding-top: 0;
}

.basket {
  position: fixed;
  left: -200%;
  top: 0;
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
  z-index: 1000;
  background: #292929;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.basket .product-card img {
  width: 10rem;
}

.basket.active {
  left: 0;
}

.basket-header {
  padding: 1rem 0;
  border-bottom: 2px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#292929)) padding-box, -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E)) border-box;
  background: -o-linear-gradient(#292929, #292929) padding-box, -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%) border-box;
  background: linear-gradient(#292929, #292929) padding-box, linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.basket-header h3 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
}

.basket-main {
  padding: 0 3.25rem;
  overflow-y: scroll;
}

.basket-main::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.basket-main::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: linear-gradient(to bottom, #7D2E89, #DA50EF 20%, #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  border-radius: 10px;
}

hr {
  display: block;
  height: 3px;
  opacity: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(218, 80, 239, 0.3)), color-stop(80%, rgba(43, 146, 254, 0.3)));
  background: -o-linear-gradient(left, rgba(218, 80, 239, 0.3) 20%, rgba(43, 146, 254, 0.3) 80%);
  background: linear-gradient(90deg, rgba(218, 80, 239, 0.3) 20%, rgba(43, 146, 254, 0.3) 80%);
}

.opacity-1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #da50ef), color-stop(80%, #2b92fe));
  background: -o-linear-gradient(left, #da50ef 20%, #2b92fe 80%);
  background: linear-gradient(90deg, #da50ef 20%, #2b92fe 80%);
}

.basket-product {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.basket-product strong {
  display: block;
  color: #FFF;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.basket-product img {
  position: relative;
  z-index: 1;
}

.basket-product b {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.basket-product button {
  background-color: transparent;
  border: none;
}

.basket-product button img {
  width: 2rem;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.basket-products .basket-image .product-card img {
  height: 7.5rem;
  min-width: 7.5rem;
}

.basket-products .basket-image .custom-shape-container {
  width: 5rem;
  height: 5rem;
  border-radius: 50% 50% 0px 20px;
}

.basket-products .basket-image .product-card .mini-banner {
  z-index: 0;
  font-size: 0.75rem;
  min-width: 5rem;
  padding: 0.3rem 0;
  text-align: center;
}

.basket-product .custom-shape-container {
  z-index: 0;
}

.basket-footer {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.basket-footer p {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
}

.basket-footer p span {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.basket-footer .button {
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.circle-btn {
  display: inline-block;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1.56rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(218, 80, 239, 0.85)), color-stop(80%, rgba(43, 146, 254, 0.85)));
  background: -o-linear-gradient(left, rgba(218, 80, 239, 0.85) 20%, rgba(43, 146, 254, 0.85) 80%);
  background: linear-gradient(90deg, rgba(218, 80, 239, 0.85) 20%, rgba(43, 146, 254, 0.85) 80%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.circle-btn:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

.circle-btn img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain;
}

.header-line {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
  max-width: 83.3rem;
  width: 80%;
  min-width: 300px;
  top: 1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999;
  padding: 0 1.5rem;
}

.header-line a.active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.header-line .burger {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: 3px solid #fff;
}

.header-line .burger::before,
.header-line .burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.3);
  left: 0;
}

.header-line .burger::before {
  top: 24px;
}

.header-line .burger::after {
  top: 12px;
}

.header-line nav {
  display: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(218, 80, 239, 0.85)), color-stop(80%, rgba(43, 146, 254, 0.85)));
  background: -o-linear-gradient(left, rgba(218, 80, 239, 0.85) 20%, rgba(43, 146, 254, 0.85) 80%);
  background: linear-gradient(90deg, rgba(218, 80, 239, 0.85) 20%, rgba(43, 146, 254, 0.85) 80%);
  padding: 1.56rem 3rem;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1.56rem 3rem;
  border-radius: 50px;
}

.header-line nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-line nav ul a {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-line nav ul a:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.button {
  display: inline-block;
  border: none;
  border-radius: 2.7rem;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  padding: 0.3rem 4rem;
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hero {
  position: absolute;
  height: 60vh;
  width: 100%;
  background: url(../img/banana.webp), -o-radial-gradient(53.65% 44.34%, 37.21% 37.21%, #FFF 0%, rgba(0, 0, 0, 0) 100%);
  background: url(../img/banana.webp), radial-gradient(37.21% 37.21% at 53.65% 44.34%, #FFF 0%, rgba(0, 0, 0, 0) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: 30px;
  left: 0;
  z-index: -1;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

.header-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-bottom: 1rem;
}

.absolute-advantage {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-shadow,
.count-block {
  text-shadow: 0 0 20px #000;
}

.mini-advantage {
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.mini-advantage p {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.7rem;
}

.first-advantage {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.second-advantage {
  left: auto;
  right: 0;
}

p.count-block {
  font-size: 3rem;
  color: #DA50EF;
}

p.count-block-second {
  color: #0073ff;
}

.hero-second {
  position: absolute;
  height: 38.2rem;
  width: 100%;
  background-image: url(../img/bananaTG.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  bottom: -25px;
  right: -100px;
  z-index: -1;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

.hero-second.reversed {
  background-position-x: left;
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.lines-top {
  margin-top: -50px;
}

.join-btn-container {
  height: 36.2rem;
}

.join-btn-container a {
  width: 21rem;
  padding: 1rem;
  text-align: center;
}

.join-btn-container a:first-child {
  background: #3DB6FD;
  margin-bottom: 2.8rem;
}

.join-btn-container a:last-child {
  background: #446FFD;
}

.advantages {
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
}

.advantage {
  width: 30%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) padding-box, -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E)) border-box;
  background: -o-linear-gradient(#000, #000) padding-box, -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%) border-box;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%) border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 300px;
}

.advantage img {
  width: 2.9375rem;
}

.advantage h2 {
  color: #FFF;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0;
}

.advantage .d-flex {
  margin-bottom: 0.625rem;
}

.advantage p {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.animate-bottom.hidden {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.animate-bottom.show {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

h2.text-center.title {
  position: relative;
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  -webkit-text-stroke: 2px transparent;
  z-index: 2;
  margin-bottom: 4.375rem;
  padding-top: 8.75rem;
  text-transform: uppercase;
}

h2.text-center.title span {
  position: absolute;
  font-size: 4rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  -webkit-background-clip: text;
  color: #000;
  opacity: 0.5;
  width: 100%;
  left: 50%;
  top: -1rem;
  padding-top: 8.75rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.random .product-card img {
  height: 18rem;
}

.product-card img {
  display: block;
  margin: 0 auto;
  max-height: 18rem;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 0.7rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-card a {
  display: block;
  text-decoration: none;
}

.product-card h3 {
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.product-card p {
  text-align: center;
  font-size: 1.65rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-bottom: 0.5rem;
}

.product-card button {
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #FFF;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 43.5px;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  text-transform: uppercase;
  padding: 0.2rem 2.5rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-card button:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

.product-card-content hr {
  display: none;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  -webkit-box-shadow: -10px 4px 30px 3px rgba(218, 80, 239, 0.6), 10px 0px 30px 3px rgba(43, 146, 254, 0.6);
  box-shadow: -10px 4px 30px 3px rgba(218, 80, 239, 0.6), 10px 0px 30px 3px rgba(43, 146, 254, 0.6);
}

.swiper-slide .product-card {
  width: 100%;
}

.product-card .mini-banner {
  position: absolute;
  min-width: 12.5rem;
  font-size: 2rem;
  border-radius: 1rem;
  z-index: -1;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes floatParticle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floatParticle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.product-card .particle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #18E0E3;
  bottom: 50%;
  right: 25%;
  -webkit-animation: floatParticle 3s ease-in-out infinite;
  animation: floatParticle 3s ease-in-out infinite;
}

.product-card .particle:nth-child(2) {
  bottom: 55%;
  right: 30%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.product-card .particle:nth-child(3) {
  bottom: 56%;
  right: 23%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.random hr {
  display: block;
}

.random .product-card .particle {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  position: absolute;
  bottom: 40%;
  right: 1.8rem;
  -webkit-animation: floatParticle 3s ease-in-out infinite;
  animation: floatParticle 3s ease-in-out infinite;
}

.random .product-card .particle:nth-child(2) {
  bottom: 45%;
  right: 0;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.random .product-card .particle:nth-child(3) {
  bottom: 50%;
  right: 1.5rem;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.random .product-card .particle::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 3rem;
  background-image: url(../img/question.png);
  background-size: cover;
}

.search {
  position: relative;
  max-width: 36.25rem;
  background-color: #fff;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 4.8rem;
  margin-top: -2rem;
  z-index: 2;
}

.search input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 40px 0 0 40px;
  padding: 0.625rem 1.625rem;
}

.search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  font-weight: 400;
}

.search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  font-weight: 400;
}

.search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  font-weight: 400;
}

.search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  font-weight: 400;
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  font-weight: 400;
}

.search-btn {
  border: none;
  outline: none;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  padding: 0 4rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search-btn:hover {
  -webkit-box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0px 30px rgba(24, 224, 227, 0.6), -10px 4px 30px rgba(234, 139, 255, 0.6);
}

.swiper-wrapper {
  padding-bottom: 30px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.swiper-button-prev {
  left: -2.5rem;
}

.swiper-button-next {
  right: -2.5rem;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  -webkit-filter: drop-shadow(10px 0 15px rgba(24, 224, 227, 0.6)) drop-shadow(-10px 4px 15px rgba(234, 139, 255, 0.6));
  filter: drop-shadow(10px 0 15px rgba(24, 224, 227, 0.6)) drop-shadow(-10px 4px 15px rgba(234, 139, 255, 0.6));
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.product-card:hover .custom-shape-container {
  -webkit-box-shadow: 10px 0 15px rgba(24, 224, 227, 0.6), -10px 4px 15px rgba(234, 139, 255, 0.6);
  box-shadow: 10px 0 15px rgba(24, 224, 227, 0.6), -10px 4px 15px rgba(234, 139, 255, 0.6);
}

.product-card:hover .mini-banner {
  -webkit-box-shadow: -10px 4px 30px 3px rgba(234, 139, 255, 0.6), 10px 0px 30px 3px rgba(24, 224, 227, 0.6);
  box-shadow: -10px 4px 30px 3px rgba(234, 139, 255, 0.6), 10px 0px 30px 3px rgba(24, 224, 227, 0.6);
}

.custom-shape-container {
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.random .custom-shape-container {
  display: block;
}

.random .mini-banner {
  display: none;
}

.rate-star {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: 2px solid transparent;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E)) border-box;
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%) border-box;
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.rate-star.active {
  background: -webkit-gradient(linear, left top, right top, from(#DA50EF), to(#2B92FE));
  background: -o-linear-gradient(left, #DA50EF, #2B92FE 100%);
  background: linear-gradient(90deg, #DA50EF, #2B92FE 100%);
  -webkit-mask: none;
  mask: none;
  border: none;
}

.rate {
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.quotes span {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review {
  border: 2px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)), -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background-image: -o-linear-gradient(#000, #000), -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-image: linear-gradient(#000, #000), linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 1rem;
  padding: 2.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.review p {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
}

.review strong {
  font-size: 2.25rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.author p,
.author + p {
  font-size: 1rem;
  margin-bottom: 0;
}

.reviews {
  margin-bottom: 6rem;
}

.reviews .relative {
  max-width: 58.125rem;
  margin: 0 auto;
}

.custom-shape-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16.125rem;
  height: 14.437rem;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  border-radius: 50% 50% 0px 60px;
  z-index: -1;
}

.accordion-button {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
}

.accordion-item {
  background-color: transparent;
  border-radius: 1rem 1rem 0 0 !important;
  margin-bottom: 1rem;
  border: none;
}

.accordion-collapse {
  padding: 0 10px;
}

.accordion-body {
  margin-top: -3px;
  border: 2px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)), -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background-image: -o-linear-gradient(#000, #000), -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-image: linear-gradient(#000, #000), linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 0px 0px 15px 15px;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 400;
}

.accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.black-bg {
  background: rgba(0, 0, 0, 0.7);
}

.accordion-button:not(.collapsed) {
  color: #FFF;
}

.accordion-button::after {
  background-image: url(../img/arrow.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/arrow.svg);
}

.wrapper-sm {
  min-width: 270px;
  max-width: 46.875rem;
  margin: 0 auto;
}

.help h3 {
  color: #FFF;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.help .form-part {
  border-radius: 1rem;
  border: 2px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)), -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background-image: -o-linear-gradient(#000, #000), -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-image: linear-gradient(#000, #000), linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 2rem;
  margin-bottom: 2rem;
}

.help .form-part label {
  font-size: 1.25rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.help .form-part input {
  display: block;
  width: 100%;
  border-radius: 2.5rem;
  background: #FFF;
  padding: 0.7rem 1.4rem;
  border: none;
  outline: none;
}

.help button {
  font-size: 2rem;
  padding: 0.5rem 5rem;
}

.name-input {
  margin-bottom: 1rem;
}

.payment-systems img {
  height: 2.5rem;
  margin: 0;
}

.payment-systems {
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

footer {
  background: #292929;
  padding: 2rem 0;
}

footer p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.footer-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.5rem;
}

.track {
  padding-top: 2rem;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #EA8BFF;
  z-index: -1;
}

.product-about h2 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
}

.availability {
  color: #98F89B;
  font-size: 1rem;
  font-weight: 400;
}

span.price {
  font-size: 3rem;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background: -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background: linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-about .button {
  font-size: 2rem;
  padding: 0.5rem 4rem;
  margin-bottom: 2rem;
}

.pay-platforms {
  -webkit-column-gap: 0.9rem;
  -moz-column-gap: 0.9rem;
  column-gap: 0.9rem;
}

.pay-platforms img {
  width: 100%;
  height: 2.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.card-header {
  padding-top: 10rem;
  margin-bottom: 7.8rem;
}

.product-about {
  margin-bottom: 12rem;
}

.product-about .particle {
  bottom: 30%;
  right: 25%;
}

.product-about .particle:nth-child(2) {
  bottom: 35%;
  right: 30%;
}

.product-about .particle:nth-child(3) {
  bottom: 36%;
  right: 23%;
}

.product-about .product-card img {
  width: 100%;
}

.product-about .mini-banner {
  font-size: 3rem;
  width: 280px;
  padding: 0.5rem 0;
  text-align: center;
}

.product-description {
  padding: 2.5rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)), -webkit-gradient(linear, left top, right top, from(#7D2E89), color-stop(20%, #DA50EF), color-stop(47.72%, #DA50EF), color-stop(53.89%, #2B92FE), color-stop(80%, #2B92FE), to(#1C5C9E));
  background-image: -o-linear-gradient(#000, #000), -o-linear-gradient(left, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-image: linear-gradient(#000, #000), linear-gradient(90deg, #7D2E89, #DA50EF 20% #DA50EF 47.72%, #DA50EF 47.72%, #2B92FE 53.89%, #2B92FE 80%, #1C5C9E 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.product-description h2 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 400;
}

.product-description h3,
.product-description li {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
}

.product-description h3 {
  margin-bottom: 1rem;
}

.product-description ul {
  margin-bottom: 0;
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
}

@-webkit-keyframes fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}

@keyframes fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}

@-webkit-keyframes diagonal-fall {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
    -webkit-transform: translate(10vw, 100vh);
    transform: translate(10vw, 100vh);
  }
}

@keyframes diagonal-fall {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
    -webkit-transform: translate(10vw, 100vh);
    transform: translate(10vw, 100vh);
  }
}

.button.more-btn {
  font-size: 2rem;
  padding: 0.2rem 4rem;
}

.block-hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.block-hidden.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}

.image-block img {
  max-height: 20rem;
}

@media screen and (min-width: 370px) {
  .mini-advantage p {
    font-size: 2.3rem;
  }

  .first-advantage {
    left: -2rem;
  }

  .second-advantage {
    right: -2rem;
  }

  p.count-block {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 380px) {
  .basket-product strong {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 400px) {
  .basket {
    max-width: 32.2rem;
    min-width: 250px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 600px) {
  .header-line {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 640px) {
  .button {
    padding: 0.5rem 6rem;
  }
}

@media screen and (min-width: 720px) {
  .absolute-advantage {
    top: 40%;
  }

  .mini-advantage p {
    font-size: 3rem;
  }

  .first-advantage {
    left: -3.75rem;
  }

  .second-advantage {
    right: -3.75rem;
  }

  p.count-block {
    font-size: 4.3rem;
  }
}

@media screen and (min-width: 800px) {
  .button {
    font-size: 3rem;
  }
}

@media screen and (min-width: 840px) {
  .header-line .burger {
    display: none;
  }

  .header-line nav {
    display: block;
  }
}

@media screen and (min-width: 1190px) {
  .hero {
    height: 70vh;
  }

  .absolute-advantage {
    top: 47%;
  }

  .absolute-advantage {
    top: 47%;
  }

  .mini-advantage p {
    font-size: 4rem;
  }

  .advantages {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1230px) {
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 1300px) {
  .header-line {
    padding: 0;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 22px;
  }
}